* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Orbitron, sans-serif;
    /* background-color: */
    font-weight: bold;
}


.wrapper {
    display: grid;
    margin: 2rem auto;
    width: 320px;
    height: 435px;

    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 0.4rem;
    background-color: #85929E;
    border: 1rem solid #85929E;
    border-radius: 24px;
}

.btn {
    background-color: lightgray;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;

}

.btn:hover {
    /* border: 0.2rem black solid; */
    cursor: pointer;
}

.operator {
    color: white;
    background-color: black;
}

.operate {
    color: white;
    background-color: #2471A3;
}

.display {

    text-align: end;
    font-size: 2rem;
    margin-top: 5px;

}

.secondary-display {
    text-align: end;
    height: 1rem;
}

.big-display {
    grid-column: 1 /4;
    background-color: #D4EFDF;
    color: black;
    padding: 0.2rem;
}

#back,
#clear {
    height: 48%;
    width: 100%;
    background-color: #E74C3C;
    color: white;
}

#clear {
    margin-top: 0.2rem;
}

.fas {
    background-color: #E74C3C;
}